{% extends 'base.html.twig' %}

{% block navbar %}

<nav class="navbar navbar-dark bg-dark navbar-expand-xl header-nav fixed-top">
    <a class="navbar-brand" href="{{path('seducer_home')}}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{path('seducer_blog')}}">Blog<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('seducer_formations')}}">Formations de séduction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('seducer_contact')}}">Me contacter</a>
            </li>
            <li class="nav-item">
                {# If admin on the site user he can return on site adminisrator #}
                {% if app.user %}
                    <a class="nav-link" href="{{path('admin_home')}}">Revenir au site administrateur</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {# If admin connects he can see logout button #}
                {% if app.user %}
                    <a class="nav-link nav-style" href="{{ path('app_logout') }}">Se déconnecter</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>

{% endblock %}

{% block footer %}
    <footer>
            <h3>Mes réseaux</h3>
            <div class="row-footer row justify-content-around">
                <p>Facebook</p>
                <p>Facebook</p>
                <p>Facebook</p>
            </div>
    </footer> 
{% endblock %}